@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  background-color: #0f1115;
  color: #e5e7eb;
}
